//variables
$website-width: 1280px;
$main-color: #ffbc00;
$light-color: white;
$medium-color: #ccc;
$dark-color: #333;
$bg-image: url("../img/showcase.jpg");

//set text color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return black;
  } @else {
    @return white;
  }
}
